body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

main {
    padding: 16px;
    background-color: black;
    color: white;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    margin: 1px;
    padding: 20px;
    background-color: greenyellow;
    color: black;
}

img {
    height: 200px;

}

nav {
    border-bottom: solid;
    border-color: black;
    padding: 20px;
    background-color: orange;
    color: white
}
h1{
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

a {
    text-decoration: none;
    color: greenyellow;
    }


div {
    display: inline-block;
    grid-template-columns: auto;
    padding: 20px 20px 0px 20px;

}


h2 {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #f09,
        0 0 82px #f09,
        0 0 92px #f09,
        0 0 102px #f09,
        0 0 151px #f09;
    }


@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
}
20%, 24%, 55% {       
    text-shadow: none;
}
}

@keyframes flicker2 {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 42px rgba(255, 0, 0, 0.932),
    0 0 82px rgba(255, 0, 0, 0.932),
    0 0 92px rgb(255, 0, 0),
    0 0 102px rgba(255, 0, 0, 0.932),
    0 0 151px rgba(255, 0, 0, 0.932);
}
20%, 24%, 55% {       
    text-shadow: none;
}
}

h2 {
    animation: flicker2 1.5s infinite alternate;
}

h1 {
    animation: flicker 2.0s infinite alternate;
}